In [29]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [78]:
# nomor 1
print(sorted_companies)

NameError: name 'sorted_companies' is not defined

In [80]:
#nomor 2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [82]:
# nomor 3
employees_by_domain = {}
for company in company_detail_list:
    domain = company['domain']
    employees_by_domain.setdefault(domain, []).extend(
        employee['full_name'] for employee in employee_detail_list if employee['company'] == company['name']
    )

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [52]:
#nomor 4
def employees_by_company_country(company_details, employee_details):
   
    company_employees = {}
    for company in company_details:
        company_name = company['name']
        company_country = company['country']
        company_employees[company_name] = []
        for employee in employee_details:
            if employee['company'] == company_name:
                company_employees[company_name].append((employee['full_name'], company_country))
    return company_employees

result = employees_by_company_country(company_detail_list, employee_detail_list)
print(result)

{'Company 1': [('John Doe', 'United States'), ('Ying Han Tan', 'United States'), ('Robert White', 'United States')], 'Company 2': [('Tom Smith', 'United Kingdom'), ('Rubby Lee', 'United Kingdom')], 'Company 3': [('Andrew Sebastian', 'United States'), ('Kenneth Ng', 'United States')]}

In [55]:
#nomor 5
def companies_with_employee_nationalities(company_details, employee_details):
  
    company_nationalities = {}
    for company in company_details:
        company_name = company['name']
        company_nationalities[company_name] = {}
        for employee in employee_details:
            if employee['company'] == company_name:
                nationality = employee['nationality']
                company_nationalities[company_name][nationality] = company_nationalities[company_name].get(nationality, 0) + 1
    return company_nationalities

result = companies_with_employee_nationalities(company_detail_list, employee_detail_list)
print(result)

{'Company 1': {'Australia': 2, 'United Kingdom': 1}, 'Company 2': {'United States': 1, 'Hong Kong': 1}, 'Company 3': {'United States': 2}}